section.about#about
	.container 
		+blockBox("What we do","Story about us","Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quam recusandae laborum perspiciatis beatae temporibus porro veniam, accusantium reiciendis dolorum illum saepe sed officia labore fuga sit, iure, repellat tempore.")
		.about-list 
			+itemImage({
				image:"./images/img-about1.png", title:"Super Team"
			})
			+itemImage({
				image:"./images/img-about2.png", title:"Super Team"
			})
			+itemImage({
				image:"./images/img-about3.png", title:"Super Team"
			})
		