footer.footer#footer
	.container
		.footer-top 
			.footer-column 
				a.footer-heading.footer-heading--logo(href="index.html") MoGo 
				p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quo magnam repellendus rerum ipsa sed reiciendis aliquam voluptatum, nihil laboriosam? Libero ex tempora magni itaque. Reprehenderit sed cum corrupti temporibus?
				p.footer-follower <strong>15k</strong> followers 
				.footer-social 	
					span Follow us 
					.footer-social-list 
						a.footer-social-icon(href="#") 
							i.fab.fa-facebook
						a.footer-social-icon(href="#") 
							i.fab.fa-twitter
						a.footer-social-icon(href="#") 
							i.fab.fa-instagram
						a.footer-social-icon(href="#") 
							i.fab.fa-pinterest
						a.footer-social-icon(href="#") 
							i.fab.fa-youtube
				form.footer-form 
					input(type="email" placeholder="Your email").footer-form-input
					button.footer-form-button Subscibe
			.footer-column 
				h3.footer-heading Blog
					+footerItem("./images/img-blogs1.png","Lorem ipsum dolor sit amet consectetur","Jan 9,2016")
					+footerItem("./images/img-blogs2.png","Lorem ipsum dolor sit amet consectetur","Jan 9,2016")
					+footerItem("./images/img-blogs3.png","Lorem ipsum dolor sit amet consectetur","Jan 9,2016")
			.footer-column 
				h3.footer-heading Instagram 
				.footer-images 
					img.footer-image(src="./images/img-instagram1.png")
					img.footer-image(src="./images/img-instagram1.png")
					img.footer-image(src="./images/img-instagram1.png")
					img.footer-image(src="./images/img-instagram1.png")
					img.footer-image(src="./images/img-instagram1.png")
					img.footer-image(src="./images/img-instagram1.png")
					img.footer-image(src="./images/img-instagram1.png")
					img.footer-image(src="./images/img-instagram1.png")
					img.footer-image(src="./images/img-instagram1.png")
				a.footer-images-more(href="#") View more photos
		.footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqi</span>
