section.people
	.container
		+blockBox("Happy clients","What we say","")
		.people-list 	
			+peopleItem("./images/img-people1.png","Matthew Dix","Graphic Design","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque optio tenetur recusandae saepe ad at veniam eos, delectus deserunt mollitia magni obcaecati. Explicabo obcaecati placeat odit in quisquam maiores.")
			+peopleItem("./images/img-people3.png","Jaelynn Castillo","Graphic Design","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque optio tenetur recusandae saepe ad at veniam eos, delectus deserunt mollitia magni obcaecati. Explicabo obcaecati placeat odit in quisquam maiores.")
			+peopleItem("./images/img-people2.png","Nick Karvounis","Graphic Designer","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque optio tenetur recusandae saepe ad at veniam eos, delectus deserunt mollitia magni obcaecati. Explicabo obcaecati placeat odit in quisquam maiores.")
			+peopleItem("./images/img-people4.png","Mike Petrucci","Graphic Designer","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum doloremque optio tenetur recusandae saepe ad at veniam eos, delectus deserunt mollitia magni obcaecati. Explicabo obcaecati placeat odit in quisquam maiores.")

		
	