section.service#service
	.container 
		+blockBox("We work with","AMAZING SERVICES")
	.box
		+blockService("./images/img-service-icon1.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam neque quae magni quis voluptate quod tempore modi totam")
		+blockService("./images/img-service-icon2.png","Web design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam neque quae magni quis voluptate quod tempore modi totam")
		+blockService("./images/img-service-icon3.png","Creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam neque quae magni quis voluptate quod tempore modi totam")
	.box-border
	.box 
		+blockService("./images/img-service-icon4.png","SEO","Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam neque quae magni quis voluptate quod tempore modi totam")
		+blockService("./images/img-service-icon5.png","HTML/CSS","Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam neque quae magni quis voluptate quod tempore modi totam")
		+blockService("./images/img-service-icon6.png","Digital","Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ullam neque quae magni quis voluptate quod tempore modi totam")
