section.story#blog
	.container 
		+blockBox("Our stories","Lastest blog")
		.story-list
			+storyItem("./images/img-blog1.png","15","Jan","Lorem ipsum dolor sit amet consectetur","Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam qui sapiente quia, harum voluptatem facere itaque minima doloremque, voluptates, molestiae nisi! Eligendi aliquam rem dolor excepturi nesciunt quae. Incidunt, reprehenderit!","542","17")
			+storyItem("./images/img-blog2.png","15","Jan","Lorem ipsum dolor sit amet consectetur","Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam qui sapiente quia, harum voluptatem facere itaque minima doloremque, voluptates, molestiae nisi! Eligendi aliquam rem dolor excepturi nesciunt quae. Incidunt, reprehenderit!","542","17")
			+storyItem("./images/img-blog3.png","15","Jan","Lorem ipsum dolor sit amet consectetur","Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam qui sapiente quia, harum voluptatem facere itaque minima doloremque, voluptates, molestiae nisi! Eligendi aliquam rem dolor excepturi nesciunt quae. Incidunt, reprehenderit!","542","17")
section.map 
	.container 
		.map-content 
			img.map-icon(src="./images/img-map-icon.png")
			h2.map-heading Open map
		