section.team 
	.container 
		+blockBox("Who we are","meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed a eum nobis ipsa error sunt quas ad, aliquid voluptates doloremque aliquam? Voluptate libero sequi id exercitationem atque soluta obcaecati est.")
		.team-list 
			+teamItem("./images/img-team1.png","Matthew dix","Graphic Design")
			+teamItem("./images/img-team2.png","Christopher Campbell ","Branding/UX design")
			+teamItem("./images/img-team3.png","Michael Fertic","Developer")
section.brand 	
	.container 	
		img(src="./images/img-logos.png" alt="brands")
