section.wedo 
	.container 
		+blockBox("Service", "What we do","Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nesciunt cum reprehenderit voluptatum delectus esse, porro sunt commodi quod fugit similique voluptas tenetur incidunt non exercitationem corporis provident laboriosam rem?")
		.wedo-container 
			img(src="../images/img-wedo.png").wedo-image
			.wedo-content 
				//accordion
				.wedo-item.is-active
					.wedo-item-header 
						img(src="../images/img-wedo-icon1.png").wedo-item-icon
						h3.wedo-item-title Photography
						i.wedo-item-arrow.fa.fa-angle-up
					.wedo-item-content
						.wedo-item-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quos beatae doloribus, veritatis harum quo nesciunt, iste animi eaque provident quis vero, architecto eos voluptatum nihil eveniet molestias recusandae eligendi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati a tenetur hic voluptatibus doloribus quam similique dolores accusantium iste cupiditate, unde magnam necessitatibus cumque laudantium dicta voluptatum eius molestiae consequuntur?
				+blockWedo("../images/img-wedo-icon2.png","Creativity","fa fa-angle-down","Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quos beatae doloribus, veritatis harum quo nesciunt, iste animi eaque provident quis vero, architecto eos voluptatum nihil eveniet molestias recusandae eligendi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati a tenetur hic voluptatibus doloribus quam similique dolores accusantium iste cupiditate, unde magnam necessitatibus cumque laudantium dicta voluptatum eius molestiae consequuntur?")
				+blockWedo("../images/img-wedo-icon3.png","Web design","fa fa-angle-down","Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quos beatae doloribus, veritatis harum quo nesciunt, iste animi eaque provident quis vero, architecto eos voluptatum nihil eveniet molestias recusandae eligendi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati a tenetur hic voluptatibus doloribus quam similique dolores accusantium iste cupiditate, unde magnam necessitatibus cumque laudantium dicta voluptatum eius molestiae consequuntur?")
			
