section.work#work
	+blockBox("What we do","Some of our work","Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat mollitia voluptatibus magni aut praesentium adipisci rerum distinctio est ad nam aliquam cupiditate, commodi unde nisi ipsam perspiciatis nihil voluptates saepe.")
	.work-list 
		.work-column 
			+workItem("./images/img-work1.png","./images/img-work-icon.png")
			+workItem("./images/img-work2.png","./images/img-work-icon.png")
		.work-column
			+workItem("./images/img-work3.png","./images/img-work-icon.png")
			+workItem("./images/img-work4.png","./images/img-work-icon.png")
		.work-column 
			+workItem("./images/img-work5.png","./images/img-work-icon.png")
		.work-column 
			+workItem("./images/img-work6.png","./images/img-work-icon.png")
			+workItem("./images/img-work7.png","./images/img-work-icon.png")