.wrapper {
	max-width: $wrapper;
margin: 0 auto;}
.container {
max-width: $container + 30px;
margin: 0 auto;
padding: 0 15px;}
.footer{
	&-top{
		padding: 7.5rem 0 7rem;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	&-column{
		width: calc(25% - 25px);
		&:first-child{
			width: calc(40% -25px);
		}
		&:nth-child(2){
			width: calc(35% - 25px);
		}
	}
	&-heading
	{
		text-transform: uppercase;
		font-weight: bold;
		height: 4rem;
		display: inline-block;
		&--logo{
			margin-bottom: 2rem;
			text-transform: none;
			font-size: 4.6rem;
			font-weight: 600;
			color: $gray-dark-color;
		}
	}
	&-desc{
		@include font(1.5rem,300,italic);
		color: $text-color;
		margin-bottom: 4.5rem;
		margin-top: 2rem;
	}
	&-follower{
		strong{
			font-weight: bold;
			font-size: 1.8rem;
		}
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid $border-color;
	}
	&-social{
		span{
			@include font(1.5rem, 300,normal);
		}
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 3.5rem;
		&-icon{
			color: $third-color;
			margin-left: 1.5rem;
			font-size: 2rem;
		}
	}
	&-form{
		width: 100%;
		max-width: 38rem;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: nowrap;
		&-input{
			width: 100%;
			padding: 1.5rem;
			background-color: white;
			border: 1px solid $border-color;
			border-right: 0;
			@include font(1.5rem,0,italic);
			font-family: $secondary-font;
		}
		&-button{
			color: white;
			text-transform: uppercase;
			padding: 1.5rem 3.5rem;
			border: 0;
			background-color: $third-color;
			font-weight: bold;
		}
	}
	&-blog{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-top: 4rem;
		&-image{
			width: 12rem;
			height: 8rem;
			object-fit: cover;
			flex-shrink: 0;
		}
		&-info{
			margin-left: 2rem;
		}
		&-title{
			font-size: 1.2rem;
			text-transform: uppercase;
			margin-bottom: 1rem;
			line-height: 1.4;
			font-weight: bold;
			color:$title-color;
			@include textClamp(2);
		}
		&-date{
			@include font(1.3rem,0,italic);
			color: $text-color;
		}
	}
	&-images{
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: -2px;
		margin-bottom: 2rem;
		&-more{
			color: $title-color;
			@include font(1.5rem, 0, italic)
		}
	}
	&-image{
		margin-left: 2px;
		width: calc(33.3% -2px);
		margin-bottom: 2px;
		// padding-bottom: 33.3%;
		// position: relative;
		// height: 0;
		img{
			// position: absolute;
			// top: 0;
			// left: 0;
			width: 100%;
			height: 100%;
			flex-shrink: 0;
			object-fit: cover;
		}
	}
	&-bottom{
		padding:2.5rem 0;
		text-align: center;
		border-top: 1px solid $border-color;
		span{
			color: $primary-color;
		}
	}
	@include maxWidth(1023px){
		&-top{
			display: block;
			padding-bottom: 3rem;
		}
		&-column:not(:nth-child(5)){
			width: 100%;
			margin-bottom: 3rem;
			&:last-child{
				margin-bottom: 0;
			}
		}

	}
	}